[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
pymongo = "*"
python-dotenv = "*"
psycopg2-binary = "*"
dnspython = "*"
sqlite3 = "*"

[requires]
python_version = "3.7"
